.orderItemContainer{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}
.orderImgContainer{
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: inset 3px 3px 5px #bebebe,
            inset -3px -3px 5px #ffffff;
}
.orderImg{
    max-width: 80px;
    max-height: 80px;
    padding:8px;
}
.orderRow{
    display: flex;
    flex: 1;
}
.orderName{
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 12px;
}
.orderPrice{
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    align-items: flex-start;
    font-size: 14px;
  }