.card{
    width: 100%;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow:  5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    border-bottom: 1px solid #cecece;
}